@{
    ViewData["Title"] = "Gallery";
}

<div class="text-center">
    <h1 class="display-4">Gallery</h1>
    <hr />
</div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="/Images/Head.jpg" class="card-img-top" alt="Skull of a Skeleton with Burning Cigarette">
                <div class="card-body">
                    <h5 class="card-title">Skull of a Skeleton with Burning Cigarettee</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="/Images/Windmills.jpg" class="card-img-top" alt="Windmills">
                <div class="card-body">
                    <h5 class="card-title">Le Moulin de Blute-Fin </h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/Images/Sunflowers.jpg" class="card-img-top" alt="Sunflowers">
                <div class="card-body">
                    <h5 class="card-title">Sunflowers</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/Images/Farm.jpg" class="card-img-top" alt="Farm">
                <div class="card-body">
                    <h5 class="card-title">Farm with Stacks of Peat</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/Images/kartoffelesser.jpg" class="card-img-top" alt="kartoffelesser">
                <div class="card-body">
                    <h5 class="card-title">The Potato Eaters</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/Images/house.jpg" class="card-img-top" alt="House">
                <div class="card-body">
                    <h5 class="card-title">The Yellow House</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
            <img src="/Images/slaapkamer.jpg" class="card-img-top" alt="slaapkamer">
                <div class="card-body">
                <h5 class="card-title">Bedroom in Arles</h5>
                </div>
            </div>
        </div>
    </div>
