@{
    ViewData["Title"] = "Life history";
}

<div class="text-center">
    <h1 class="display-4">Life</h1>
    <hr />
</div>
<div>
    <h3>Early years</h3>
    <p>Vincent Willem van Gogh was born on 30 March 1853 in Groot-Zundert, in the predominantly Catholic province of North Brabant in the Netherlands.
        He was the oldest surviving child of Theodorus van Gogh (1822–1885), a minister of the Dutch Reformed Church, and his wife, Anna Cornelia 
        Carbentus (1819–1907). Van Gogh was given the name of his grandfather and of a brother stillborn exactly a year before his birth.[note 2]
        Vincent was a common name in the Van Gogh family. The name had been borne by his grandfather, the prominent art dealer Vincent (1789–1874), 
        and a theology graduate at the University of Leiden in 1811. This Vincent had six sons, three of whom became art dealers, and may have been named 
        after his own great-uncle, a sculptor (1729–1802).</p>
    <p>Van Gogh's mother came from a prosperous family in The Hague,[27] and his father was the youngest son of a minister.[28] The two met when Anna's
        younger sister, Cornelia, married Theodorus's older brother Vincent (Cent). Van Gogh's parents married in May 1851, and moved to Zundert.[29] 
        His brother Theo was born on 1 May 1857. There was another brother, Cor, and three sisters: Elisabeth, Anna, and Willemina (known as "Wil"). 
        In later life, Van Gogh remained in touch only with Willemina and Theo.[30] Van Gogh's mother was a rigid and religious woman who emphasized 
        the importance of family to the point of claustrophobia for those around her.[31] Theodorus's salary as a minister was modest, but the Church 
        also supplied the family with a house, a maid, two cooks, a gardener, a carriage and horse; his mother Anna instilled in the children a duty 
        to uphold the family's high social position.[32]</p>
    <p>Van Gogh was a serious and thoughtful child.[33] He was taught at home by his mother and a governess, and in 1860, was sent to the village school.
        In 1864, he was placed in a boarding school at Zevenbergen,[34] where he felt abandoned, and he campaigned to come home. Instead, in 1866,
        his parents sent him to the middle school in Tilburg, where he was also deeply unhappy.[35] His interest in art began at a young age. He was 
        encouraged to draw as a child by his mother,[36] and his early drawings are expressive,[34] but do not approach the intensity of his later work.
        [37] Constant Cornelis Huijsmans, who had been a successful artist in Paris, taught the students at Tilburg. His philosophy was to reject technique
        in favour of capturing the impressions of things, particularly nature or common objects. Van Gogh's profound unhappiness seems to have overshadowed
        the lessons, which had little effect.[38] In March 1868, he abruptly returned home. He later wrote that his youth was "austere and cold, and sterile".
        </p>
    <p>
        In April 1876, he returned to England to take unpaid work as a supply teacher in a small boarding school in Ramsgate. When the proprietor moved
        to Isleworth in Middlesex, Van Gogh went with him. The arrangement was not successful; he left to become a Methodist minister's assistant.
        [45] His parents had meanwhile moved to Etten; in 1876 he returned home at Christmas for six months and took work at a bookshop in Dordrecht. 
        He was unhappy in the position and spent his time doodling or translating passages from the Bible into English, French, and German. He immersed 
        himself in Christianity, and became increasingly pious and monastic.[48] According to his flatmate of the time, Paulus van Görlitz, Van Gogh ate
        frugally, avoiding meat.</p>
        <p>...</p>
</div>