@{
    ViewData["Title"] = "Model in MVC";
}


    <h1>Model in MVC</h1>
<hr />
    <p>The Model in the MVC pattern is responsible for managing the application's data and business logic.</p>

    <h2>Main Responsibilities:</h2>
    <ul>
        <li>Stores and retrieves data.</li>
        <li>Performs data manipulation and validation.</li>
        <li>Represents the application's internal state.</li>
    </ul>

    <p>In an ASP.NET MVC application, the Model often interacts with a database to store and retrieve data, and it encapsulates the application's core logic.</p>
