@{
    ViewData["Title"] = "View in MVC";
}


    <h1>View in MVC</h1>
<hr />
    <p>The View in the MVC pattern is responsible for presenting the data to the user.</p>

    <h2>Main Responsibilities:</h2>
    <ul>
        <li>Displays data to the user.</li>
        <li>Generates HTML markup and user interface elements.</li>
        <li>Receives user input and forwards it to the Controller.</li>
    </ul>

    <p>In an ASP.NET MVC application, the View often uses Razor syntax to combine HTML markup with data from the Model.</p>
